* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Montserrat, Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.displaynone{
  display: none !important;
}

.noscroll{
  overflow: hidden !important;
}

.nobackgroundimage{
   background-image: none !important;
   background: none !important;
}

.openhamburger{
    animation: 1s forwards openhamburger;
}

.closehamburger{
    animation: 1s forwards closehamburger;
}

@keyframes openhamburger {
    from {
        left: -1000px
    }

    to {
        left: 0
    }
}

@keyframes closehamburger {
    from {
        left: 0
    }

    to {
        left: -1000px
    }
}


@media only screen and (max-width: 550px) {
  .resetheader{
    height: 180px !important;
  }
}



.cards-box {
	position: relative;
	/* transform: translateX(-15px); */
  height: fit-content;
  margin-top: 330px;
}

.cards-box .card {
	width: 1000px;
  height: 450px;
	background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffff;
	border-radius: 25px;
	cursor: pointer;
  color: #000;
}

.cards-box .card::before{
  content: "";
  background-color: #00000063;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  z-index: -99999;
}

.cards-box .card.hide {
	visibility: hidden;
}

.cards-box .card:not(.hide) {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
	transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
  color: #ffff;
  border: 1px solid #efefef;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: e-resize;
}

.cards-box .card:not(.hide) > div{
  text-align: center;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(1){
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(1) p{
  font-weight: 300;
  margin-bottom: 10px;
  user-select: none;
}


.cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
  margin-top: 60px;
  font-size: 35px;
  user-select: none;
}


.cards-box .card:not(.hide) > div > section:nth-of-type(2){
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(2) p{
  font-weight: 400;
  margin-bottom: 5px;
  user-select: none;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(2) p:nth-of-type(4){
  font-weight: 700;
  font-size: 17px;
  margin-top: 20px;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(2) button{
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 15px auto 0 auto;
    background: #199EBF;
    border: none;
    color: #ffff;
    text-decoration: none;
    padding: 15px 75px;
    border-radius: 30px;
    cursor: pointer;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(2) button:hover{
  background-color: #40cdf1;
  transition: 0.3s;
}


@media only screen and (max-width: 1100px) {
  .cards-box .card {
    width: 80%;
    height: 450px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
    margin-top: 60px;
    font-size: 25px;
  }
}


@media only screen and (max-width: 900px) {
  .cards-box {
    margin-top: 250px;
  } 

  .cards-box .card {
    width: 80%;
    height: 300px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1){
    top: 15px
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
    margin-top: 35px;
    font-size: 20px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) p{
    font-size: 12px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) p{
    font-size: 12px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) p:nth-of-type(4){
    font-size: 14px;
    margin-top: 10px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) button{
    font-size: 12px;
    padding: 10px 45px;
  }

  .ticketshero{
    margin-top: -30px !important;
  }
}

@media only screen and (max-width: 810px) {
  .cards-box {
    margin-top: 200px;
  } 

  .ticketresults {
    top: 100px !important;
  }
}



@media only screen and (max-width: 650px) {
  .cards-box {
    margin-top: 150px;
  } 

  .cards-box .card {
    width: 90%;
    height: 250px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
    margin-top: 15px;
    font-size: 18px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) p{
    font-size: 10px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) p{
    font-size: 10px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) button, .cards-box .card:not(.hide) > div > section:nth-of-type(2) p:nth-of-type(4){
    margin-top: 5px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) button{
    font-size: 11px;
    padding: 7px 25px;
    border-radius: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .cards-box {
    margin-top: 100px;
  }

  .cards-box .card {
    width: 90%;
    height: 200px;
    border-radius: 15px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
    font-size: 15px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) p{
    margin-bottom: 5px;
    font-size: 8px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) p{
    font-size: 8px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) p:nth-of-type(4){
    font-size: 10px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) button{
    font-size: 10px;
    padding: 5px 15px;
  }

}

.cards-box .card:not(.hide)[data-slide='0'] {
	transform: translate(0px, 0px) scale(1);
	z-index: 8;
}

.cards-box .card:not(.hide)[data-slide='1'] {
  transform: rotate(2deg);
  z-index: 7;
}

.cards-box .card:not(.hide)[data-slide='2'] {
  transform: rotate(4deg);
	z-index: 6;
}

.cards-box .card:not(.hide)[data-slide='3'] {
  transform: rotate(6deg);
	z-index: 5;
}

.cards-box .card:not(.hide)[data-slide='4'] {
  transform: rotate(8deg);
	z-index: 4;
}

.cards-box .card:not(.hide)[data-slide='5'] {
  transform: rotate(10deg);
	z-index: 3;
}

.cards-box .card:not(.hide)[data-slide='6'] {
  transform: rotate(12deg);
	z-index: 2;
}

.cards-box .card:not(.hide)[data-slide='7'] {
  transform: rotate(14deg);
	z-index: 1;
}

.cards-box .card:not(.hide)[data-slide='0'] {
	transition: all 0.32s cubic-bezier(0.18, 0.98, 0.45, 1);
}

