* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Montserrat, Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.displaynone{
  display: none !important;
}

.noscroll{
  overflow: hidden !important;
}

.nobackgroundimage{
   background-image: none !important;
   background: none !important;
}

.openhamburger{
    animation: 1s forwards openhamburger;
}

.closehamburger{
    animation: 1s forwards closehamburger;
}

@keyframes openhamburger {
    from {
        left: -1000px
    }

    to {
        left: 0
    }
}

@keyframes closehamburger {
    from {
        left: 0
    }

    to {
        left: -1000px
    }
}


@media only screen and (max-width: 550px) {
  .resetheader{
    height: 180px !important;
  }
}

.container{
  max-width: 1100px;
  margin: 50px auto;
}

.container h1{
  margin-bottom: 25px;
}

@media only screen and (max-width: 1115px) {
  .container{
    padding: 0 15px;
  }
}

.cards-box {
	position: relative;
	/* transform: translateX(-15px); */
  height: fit-content;
  margin-top: 330px;
}

.cards-box .card {
	width: 1000px;
  height: 450px;
	background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffff;
	border-radius: 25px;
	cursor: pointer;
  color: #000;
}

.cards-box .card::before{
  content: "";
  background-color: #00000063;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  z-index: -99999;
}

.cards-box .card.hide {
	visibility: hidden;
}

.cards-box .card:not(.hide) {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
	transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
  color: #ffff;
  border: 1px solid #efefef;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: e-resize;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cards-box .card:not(.hide) > div{
  text-align: center;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(1){
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(1) p{
  font-weight: 300;
  margin-bottom: 10px;
  user-select: none;
}


.cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
  margin-top: 60px;
  font-size: 35px;
  user-select: none;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(2){
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(2) p{
  font-size: 18px;
  font-weight: 500;
  user-select: none;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(3){
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(3) p{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
  user-select: none;
  position: relative;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(3) p::after{
    content: "Price per ticket";
    position: absolute;
    left: 0;
    right: 0;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    top: -14px;
    font-size: 10px;
    text-transform: uppercase;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(3) p:nth-of-type(4){
  font-weight: 700;
  font-size: 17px;
  margin-top: 20px;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(3) button{
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 15px auto 0 auto;
    background: #199EBF;
    border: none;
    color: #ffff;
    text-decoration: none;
    padding: 13px 55px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
}

.cards-box .card:not(.hide) > div > section:nth-of-type(3) button:hover{
  background-color: #40cdf1;
  transition: 0.3s;
}

@media only screen and (max-width: 1100px) {
  .cards-box .card {
    width: 80%;
    height: 450px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
    margin-top: 60px;
    font-size: 25px;
  }
}


@media only screen and (max-width: 900px) {
  .cards-box {
    margin-top: 250px;
  } 

  .cards-box .card {
    width: 80%;
    height: 300px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1){
    top: 15px
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
    margin-top: 35px;
    font-size: 20px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) p{
    font-size: 12px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2){
    bottom: 120px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) p{
    font-size: 15px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) p{
    font-size: 15px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) p:nth-of-type(4){
    font-size: 14px;
    margin-top: 10px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) button{
    font-size: 12px;
    padding: 10px 45px;
  }

  .ticketshero{
    margin-top: -30px !important;
  }
}

@media only screen and (max-width: 810px) {
  .cards-box {
    margin-top: 200px;
  } 

  .ticketresults {
    top: 130px !important;
  }
}

@media only screen and (max-width: 650px) {
  .cards-box {
    margin-top: 150px;
  } 

  .cards-box .card {
    width: 90%;
    height: 250px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
    margin-top: 15px;
    font-size: 18px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) p{
    font-size: 10px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2){
    bottom: 120px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) p{
    font-size: 13px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) p{
    font-size: 15px;
    margin-bottom: 10px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) p::after{
    font-size: 7px;
    top: -10px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) button, .cards-box .card:not(.hide) > div > section:nth-of-type(3) p:nth-of-type(4){
    margin-top: 5px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) button{
    font-size: 11px;
    padding: 7px 25px;
    border-radius: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .cards-box {
    margin-top: 100px;
  }

  .cards-box .card {
    width: 90%;
    height: 240px;
    border-radius: 15px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) h2{
    font-size: 15px;
    margin-top: 25px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(1) p{
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 500;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2){
    bottom: 105px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(2) p{
    font-size: 13px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) p{
    font-size: 14px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) p{
    font-size: 15px;
  }

  .cards-box .card:not(.hide) > div > section:nth-of-type(3) button{
    font-size: 12px;
    padding: 6px 20px;
  }
}


.cards-box .card:not(.hide)[data-slide='0'] {
	transform: translate(0px, 0px) scale(1);
	z-index: 8;
}

.cards-box .card:not(.hide)[data-slide='1'] {
  transform: rotate(2deg);
  z-index: 7;
}

.cards-box .card:not(.hide)[data-slide='2'] {
  transform: rotate(4deg);
	z-index: 6;
}

.cards-box .card:not(.hide)[data-slide='3'] {
  transform: rotate(6deg);
	z-index: 5;
}

.cards-box .card:not(.hide)[data-slide='4'] {
  transform: rotate(8deg);
	z-index: 4;
}

.cards-box .card:not(.hide)[data-slide='5'] {
  transform: rotate(10deg);
	z-index: 3;
}

.cards-box .card:not(.hide)[data-slide='6'] {
  transform: rotate(12deg);
	z-index: 2;
}

.cards-box .card:not(.hide)[data-slide='7'] {
  transform: rotate(14deg);
	z-index: 1;
}

.cards-box .card:not(.hide)[data-slide='0'] {
	transition: all 0.32s cubic-bezier(0.18, 0.98, 0.45, 1);
}


.changeticketsview{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    height: 100%;
    background: #000000cf;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    gap: 30px;
    overflow-x: scroll;
    padding: 100px 0;
}

.changeticketsview .card:not(.hide)[data-slide='0'],.changeticketsview .card:not(.hide)[data-slide='1'],.changeticketsview .card:not(.hide)[data-slide='2'],.changeticketsview .card:not(.hide)[data-slide='3'],.changeticketsview .card:not(.hide)[data-slide='4'],.changeticketsview .card:not(.hide)[data-slide='5'],.changeticketsview .card:not(.hide)[data-slide='6'],.changeticketsview .card:not(.hide)[data-slide='7'] {
  transform: rotate(0deg);
	z-index: 1;
  cursor: default;
  position: static;
  border: 1px solid #5f5f5f;
}

.closechangedview{
  position: fixed;
  z-index: 99999;
  background: none;
  border: none;
  top: 25px;
  right: 25px;
  margin: 0;
  cursor: pointer;
}

.closechangedview img{
  width: 25px;
  height: auto;
  margin: 0;
}

.changeticketviesbtn{
  background: none;
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  z-index: 9999;
  font-weight: 700;
  font-size: 15px;
  text-decoration: underline;
  color: #0080da;
  background: none !important;
}

.checkoutticket{
  width: 400px;
  height: 440px;
  border-radius: 10px;
  background-color: #ffff;
  padding-top: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.checkoutticket > div{
  position: relative;
  width: 100%;
  height: 100%;
}

.checkoutticket > div > div{
  width: 100%;
  height: 200px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkoutticket > div > div::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #0000005e;
}

.checkoutticket > div > div p:nth-of-type(1){
    color: #ffff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 23px;
    font-weight: 400;
}

.checkoutticket > div > div p:nth-of-type(1)::after{
    content: "Total price";
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    left: 0;
    top: -15px;
    font-weight: 700;
}

.checkoutticket > div > div p:nth-of-type(2){
    color: #ffff;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.checkoutticket > div > div p:nth-of-type(3){
    color: #ffff;
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 13px;
    font-weight: 300;
}

.checkoutticket > div > h3{
  margin: 15px 0 15px 10px;
  font-size: 16px;
  font-weight: 600;
}

.checkoutticket > div > p{
  margin: 5px 0 0 10px;
  font-size: 15px;
  font-weight: 500;
}

.checkoutticket > div > button:nth-of-type(1){
    position: absolute;
    top: -35px;
    right: -14px;
    background: none;
    border: none;
    height: auto;
    cursor: pointer;
}

.checkoutticket > div > button:nth-of-type(1) img{
  width: 40px;
  height: auto;
}

.checkoutticket > div > button:last-child{
  width: 90%;
  display: block;
  background-color: #000;
  border: none;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  padding: 10px 0;
  cursor: pointer;
}

.checkoutticket > div > button:last-child:hover{
  background-color: #434343;
  transition: 0.2s;
}

.checkoutticket > div > button img{
  width: 50px;
  height: auto;
  margin-bottom: -3px;
}

.emptystateticket:hover{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: 0.4s;
  cursor: pointer;
}

.emptystateticket > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptystateticket > div a{
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-decoration: none;
  color: #0080da;
}

.emptystateticket > div a span:nth-of-type(1){
  font-size: 55px;
}

.emptystateticket > div a span:nth-of-type(2){
  font-weight: 500;
}

.mobilemenu{
    display: none;
}

@media only screen and (max-width: 750px) {
  .mobilemenu{
    display: flex;
    width: 100%;
    height: 100%;
    position: static !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .mobilemenu button{
    background: none;
    border: none;
    text-decoration: none;
    color: #000;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .mobilemenu span{
    user-select: none;
    touch-action: none;
  }
  
  .mobilemenu button img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-bottom: 0px;  
    user-select: none;
    touch-action: none;
  }

  .hamburgermenu a{
    display: none !important;
  }
}

@media only screen and (max-width: 730px) {
  .checkoutticket{
    margin: auto;
  }
}

@media only screen and (max-width: 440px) {
  .checkoutticket{
    width: 95%;
  }
}

.loadingstate{
  color: #000;
  cursor: wait;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  background-color: #00000047;
}

.loadingstate ul{
  display: none !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #1e9ab0;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1e9ab0 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
