.header{
    background-color: #ffff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.header > div{
    max-width: 1300px;
    height: 125px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header > div > section:first-child{
    display: flex;
}

.header > div > section:first-child input, .header > div > section:first-child select{
    margin-right: 25px;
}

.header > div > section:first-child select{
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    font-weight: 600;
}

.header > div > section:first-child input[type="number"]{
    background: none;
    border: none;
    width: 30px;
    border-bottom: 2px solid #000;
    font-weight: 600;
}

.header > div > section:first-child div{
    position: relative;
    height: 35px;
    width: 150px;
}

.header > div > section:first-child div input{
    position: absolute;
    bottom: 0;
    margin-right: 0;
    width: 100%;
}

.header > div > section:first-child div span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
}


.header > div > section:last-child{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.header > div > section:last-child a img{
    width: 100px;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    .header > div{
        height: 200px;
        justify-content: center;
        align-items: flex-end;
    }

    .header > div > section:last-child{
        top: 20px
    }
}

@media only screen and (max-width: 550px) {
    .header > div{
        height: 230px;
    }
    
     .header > div > section:first-child{
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        gap: 15px;
     }
}