.hero{
    background-image: url("/img/herobackground.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    max-width: 1300px;
    min-height: 80vh;
    margin: 0 auto;
    padding: 15px;
    color: #ffff;
}

.hero h1{
    color: #ffff;
    font-weight: bold;
    font-size: 4.3em;
    margin-bottom: 25px;
    letter-spacing: -3px;
}

.hero h1 span{
    color: #1E9AB0;
}

.hero p{
    max-width: 340px;
    text-align: center;
    margin-bottom: 25px; 
}

.hero section:nth-of-type(1) a{
    display: block;
    background: linear-gradient(275.76deg, #1EC4CB 25.52%, #199EBF 96.82%);
    border-radius: 100px;
    padding: 20px 30px;
    font-weight: bold;
    color: #ffff;
    text-decoration: none;
}

.hero section:nth-of-type(2){
    margin-top: 50px;
} 

.hero section:nth-of-type(2) a{
    color: #ffff;
    margin: 0 25px;
    position: relative;
}

.hero section:nth-of-type(2) a img{
    position: absolute;
    right: -30px;
}

.hero section:nth-of-type(3){
    position: absolute;
    bottom: 25px;
    right: 40px;
    text-align: center;
} 

.hero section:nth-of-type(3) ul{
    list-style: none;
}

.hero section:nth-of-type(3) ul li{
    margin: 15px 0;
}

@media only screen and (max-width: 1300px) {
    .hero{
        border-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}

@media only screen and (max-width: 870px) {
    .hero h1{
        font-size: 3.5em;
        letter-spacing: -1px;
        text-align: center;
    }
}

@media only screen and (max-width: 680px) {
    .hero{
        background-size: cover;
    }

    .hero h1{
        font-size: 3em;
        max-width: 75%;
    }   

    .hero h1 br{
        display: none;
    }

    .hero h1 span{
        display: block;
    }

    .hero section:nth-of-type(3){
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    .hero h1{
        font-size: 2.5em;
    }   
}


@media only screen and (max-width: 475px) {
    .hero h1{
        max-width: 100%;
    }
}
    

@media only screen and (max-width: 400px) {
    .hero section:nth-of-type(1) a{
        font-size: 12px;
    }

    .hero section:nth-of-type(2){
        display: flex;
        flex-direction: column;
    }

    .hero section:nth-of-type(2) a{
        margin-bottom: 15px;
        font-size: 1.1em;
    }

    .hero section:nth-of-type(2) a img{
        right: -20px;
    }
}

@media only screen and (max-width: 350px) {
    .hero h1{
        font-size: 2em;
    }
}